/* ===== Productos  ===== */

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 300px,1fr));
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  padding-inline-start: 0;

}
.productListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color:black;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


.price {
  font-weight: bold;
  font-size: 28px;
  color:blue;
}